.margin-section {
  width: 70%;
  margin: 3rem auto;
}

h2 {
  font-size: 1.1rem;
}

.description {
  p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
}

@media (min-width: 1024px) {
  .row {
    display: flex;
    justify-content: space-between;

    .image {
      max-width: 545px;
      flex: 1 0 545px;
    }
    .description {
      margin-left: 30px;
      align-self: center;
      p {
        font-size: 1.1rem;
      }
    }
  }
}
